In [1]:
import numpy as np
import pandas as pd

In [2]:
debates = pd.read_csv('../data/june1_transcript.csv')
debates['month'] = 'june'
df = pd.read_csv('../data/june2_transcript.csv')
df['month'] = 'june'
debates = debates.append(df)
df = pd.read_csv('../data/july1_transcript.csv')
df['month'] = 'july'
debates = debates.append(df)
df = pd.read_csv('../data/july2_transcript.csv')
df['month'] = 'july'
debates = debates.append(df)
df = pd.read_csv('../data/september_transcript.csv')
df['month'] = 'september'
debates = debates.append(df)
df = pd.read_csv('../data/october_transcript.csv')
df['month'] = 'october'
debates = debates.append(df)
df = pd.read_csv('../data/november_transcript.csv')
df['month'] = 'november'
debates = debates.append(df)
df = pd.read_csv('../data/december_transcript.csv')
df['month'] = 'december'
debates = debates.append(df)
df = pd.read_csv('../data/january_transcript.csv')
df['month'] = 'january'
debates = debates.append(df)
df = pd.read_csv('../data/february_transcript.csv')
df['month'] = 'february'
debates = debates.append(df)
debates = debates[['name', 'text', 'month', 'time']]

In [3]:
debates.shape

(4780, 4)

In [4]:
debates.head()

,name,text,month,time
0,Lester Holt,"… comment on every topic, but over the course ...",june,NaN
1,Savannah G.,"All right, so with that business out of the wa...",june,NaN
2,Senator Warren,Thank you. It’s good to be here.,june,NaN
3,Savannah G.,"You have many plans. Free college, free childc...",june,NaN
4,Senator Warren,I think of it this way. Who is this economy re...,june,NaN

In [5]:
debates.tail()

,name,text,month,time
317,Amy Klobuchar,There’s an old story of Franklin Delano Roosev...,february,(01:15:43)
318,Amy Klobuchar,If you have trouble stretching your paycheck t...,february,(01:16:20)
319,George S.,Mr. Steyer.,february,(01:17:17)
320,Tom Steyer,The Republicans have a cruel plan and their pl...,february,(01:17:24)
321,George S.,Candidates. Thank you. Thanks for a great deba...,february,(01:19:09)

In [6]:
debates.name.unique()

array(['Lester Holt', 'Savannah G.', 'Senator Warren', 'Amy Klobachar',
       'Beto O’Rourke', 'Cory Booker', 'Julian Castro', 'Tulsi Gabbard',
       'Jose D.B.', 'Mayor de Blasio', 'John Delaney', 'Jay Inslee',
       'Tim Ryan', 'Speaker 16', 'Speaker 17', 'Jose', 'Bill De Blasio',
       'Savannah', 'Amy Klobuchar', 'Speaker 13', 'Steve Kornacki',
       'Speaker 15', 'Rachel Maddow', 'Chuck Todd', 'Speaker 18',
       'Speaker 19', 'Speaker 20', 'Speaker 2', 'Speaker 3', 'Speaker 7',
       'Elizabeth W.', 'Speaker 8', 'Speaker 9', 'Speaker 10',
       'Speaker 11', 'Speaker 12', 'Speaker 14', 'Jose D. B.',
       'Savanagh G.', 'Bernie Sanders', 'Bennett', 'Speaker 1',
       'Joe Biden', 'Kamala Harris', 'John H.', 'Kirsten G.',
       'Pete Buttigieg', 'Eric Stalwell', 'Andrew Yang', 'Eric Swalwell',
       'Speaker 4', 'Speaker 5', 'Speaker 6', 'M. Williamson',
       'Marianne W.', 'Michael Bennet', 'Bill de Blasio', 'Dana Bash',
       'Jake Tapper', 'Don Lemon', 'Crowd', 'Yang', 'Kristen Gillibr',
       'Moderator', 'Gillibrand', 'Senator Bennet', 'George S.',
       'E. Warren', 'Voiceover', 'Jorge Ramos', 'David Muir', 'George S',
       'Sen Klobuchar', 'Sec. Castro', 'David ', 'Lindsey',
       'Anderson Cooper', 'Erin Burnett', 'Marc Lacey', 'Senator Booker',
       'Tom Steyer', 'A. Cooper', 'Andrea Mitchell', 'Kristen Welker',
       'Ashley Parker', 'Libby Casey', 'Judy Woodruff', 'Amy Walter',
       'Stephanie Sy', 'Tim Alberta', 'Amna', 'Amna Nawaz', 'Yamiche',
       'Yamiche A.', 'Judy', 'Wolf Blitzer', 'Abby Phillip',
       'B. Pfannenstiel', 'Moderator 1', 'Moderator 2', 'Abby P',
       'Brianne P', 'Brianne P.', 'Abby Phillips', 'Elizabeth Warren',
       'Monica Hernandez', 'Adam Sexton', 'Joe Biden ', 'Linsey Davis',
       'Devin Dwyer', 'Rachel Scott', 'Announcer'], dtype=object)

In [7]:
debates.name[debates.name.isin(['Senator Warren', 'E. Warren', 'Elizabeth W.'])] = 'Warren'
debates.name[debates.name.isin(['Cory Booker', 'Senator Booker'])] = 'Booker'
debates.name[debates.name.isin(['Amy Klobuchar', 'Amy Klobachar', 'Sen Klobuchar'])] = 'Klobuchar'
debates.name[debates.name.isin(['Mayor de Blasio', 'Bill de Blasio', 'Bill De Blasio'])] = 'de Blasio'
debates.name[debates.name.isin(['Yang', 'Andrew Yang'])] = 'Yang'
debates.name[debates.name.isin(['Bernie Sanders'])] = 'Sanders'
debates.name[debates.name.isin(['Senator Bennett', 'Bennett', 'Michael Bennet'])].name = 'Bennett'
debates.name[debates.name.isin(['Kirsten G.', 'Gillibrand', 'Gillibr'])] = 'Gillibrand'
debates.name[debates.name.isin(['Kamala Harris'])] = 'Harris'
debates.name[debates.name.isin(['Marianne W.', 'M. Williamson'])] = 'Williamson'
debates.name[debates.name.isin(['Julian Castro', 'Sec. Castro'])] = 'Castro'
debates.name[debates.name.isin(['Joe Biden', 'Joe Biden '])] = 'Biden'
debates.name[debates.name.isin(['John Delaney'])] = 'Delaney'
debates.name[debates.name.isin(['John H.'])] = 'Hickenlooper'
debates.name[debates.name.isin(['Tom Steyer'])] = 'Steyer'
debates.name[debates.name.isin(['Eric Stalwell', 'Eric Swalwell'])] = 'Swalwell'
debates.name[debates.name.isin(['Pete Buttigieg'])] = 'Buttigieg'
debates.name[debates.name.isin(['Tulsi Gabbard'])] = 'Gabbard'
candidates = ['Warren', 'Booker', 'Klobuchar', 'de Blasio', 'Yang', 'Sanders', 'Bennett', 'Gillibrand', 'Harris', 'Williamson', 'Castro', 'Biden', 'Swalwell', 'Buttigieg', 'Gabbard']

In [8]:
df = debates[debates.name.isin(candidates)]
df.to_csv('../data/transcripts_cleaned.csv', index = False)